body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

.container{
	width: 900px;
}

.trivia {
  background-color: rgba(0, 0, 0, .4);
  min-height: 100%;
  height: 640px;
}

.btn, .reset {
  background-color: #a61268;
  margin-top: 10%;
  height: 100px;
  width: 200px;
  color: white;
  border-radius: 25px;
  font-size: 25px;
}

h2 {
  font-size: 30px;
  color: white;
}

#currentQuestion {
  color: white;
  padding-top: 20px;
}

.thisChoice {
  font-size: 20px;
  color: white;
}

.thisChoice:hover{
	background-color: #a61268;
	color: white;
	padding: 15px;
}

#result, #correctedAnswer, #endingMessage, #correctAnswers, #incorrectAnswers {
  font-size: 18px;
  color: white;
}

#answerOptions {
  color: white;
  padding-top: 20px;
}

#gif {
  padding-top: 10px;
}

@media screen and (max-width:768px){
	.container{
		width: 300px;
		margin-top:20px;
    text-align: center;
	}
}

@media screen and (max-width:768px){
	iframe{
    width: 100%;
    height: 100%;
	}
}
